@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Kanit Static", sans-serif;
}

body {
   background: #c91414;
background: linear-gradient(90deg, rgba(201, 20, 20, 1) 0%, rgba(9, 9, 121, 1) 92%, rgba(0, 212, 255, 1) 100%);
    color: black;
}

.maincon h1 {
    margin: 10px 0px;
    padding: 10px 0px;
}

.maincon h1 span {
    color: black;
    border-bottom: 4px solid black;
    margin: 20px 0px px 0px;
}

.maincon {
    margin: 12%;
    width: 90%;
    max-width: 700px;
}

.maincon button {
    margin: 15px 0px 0px 0px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "Kanit Static", sans-serif;
    background-color: white;
    border: 0px;
    border-radius: 6px;
    color: black;
}

.inputbox input {
    margin: 0px;
    border: 0px;
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    font-size: 18px;
    outline: 0;
}

.inputbox {

    display: flex;
    justify-content: space-between;
    width: 20px;

}

.inputbox img {
    width: 40px;
    cursor: pointer;
    height: 20%;
    margin: 20px 10px;
}